
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ejs movie</title>
	 <link href="../css/bootstrap.css" rel="stylesheet">
	  <link href="../css/main.css" rel="stylesheet">
	 <style type="text/css">
	 	
	 </style>
</head>
	<body>
		<div class="container">
        <div class="header clearfix">
            <nav>
              <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="/user/profile"></a></li>
                <li role="presentation" class="active"><a href="/">Home</a></li>
                <li role="presentation"><a href="/movie">Movie</a></li>
                <li role="presentation"><a href="/user">user</a></li>
                 
                <li role="presentation"><a href="../user/login">Login</a></li>
                

                <li role="presentation"><a href="/user/profile">profile</a></li>
                <li role="presentation"><a class="logout" >LogOut</a></li>
                
              </ul>
            </nav>
            <h3 class="text-muted">Project name</h3>
          </div>
        
    </div>	
   <!--  <div class="container">
   	<div class="row">
   		<div class="col-md-10">
   			<form method= 'post' action="/movie">
   						Movie Naame: <input type="text" name="name" class="form-control"> <br>
   						Year: <input type="text" name="year" class="form-control"> <br>
   						Genere: <input type="text" name="genere" class="form-control"> <br>
   						Plot: <input type="text" name="plot" class="form-control"> <br>
   						<input type="submit" value="Post Movie" class="btn btn-primary btn-lg btn-block">
   					</form>
   		</div>
   	</div>
   </div> -->
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<h2>Movie List</h2>

							<div class="container">
						<div class="row">
							<div class="col-md-10">
								<h2>Movie List</h2>

									
								<% if ( movie ) { %>
									<ul>
										<% for(var m of movie) { %>
											<li>
												<div class="panel panel-default">
													<div class="panel-heading"><a href="/movie/<%= m._id%>"><%= m.title %> <span>(<%= m.year %>)</span></a></div>
													<div class="panel-body">
														<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
															<a href="/movie/<%= m._id%>" class="thumbnail">
																<img src="<%= m.poster %>" alt="">
															</a>
														</div>
														<p>Director: <%= m.director %></p>
														<p><%= m.plot %></p>
														<p><%= m.genre %></p>
														<a href="movie/<%= m._id %>" class="btn btn-primary details">details</a>
														
														<a href="./movie/<%= m._id %>/edit" class="btn btn-primary edit">edit</a>
														<button rel="movie/<%= m._id %>" class="btn btn-primary delete">delete</button>
														<% for (var i =0; i < m.likeUsers.length; i++) { %> 
															<% if ( m.likeUsers[i] == logUser._id) { %>
																<% var lkdUder =  m.likeUsers[i] %>
															<% } %>																
														<% } %>								
														<% if (lkdUder) { %>
															<button class="btn btn-primary liked">liked </button>
														<% } else { %>
															<button rel="movie/<%= m._id %>/user" class="btn btn-primary likes">like</button>
														<% } %>
														<% var lkdUder =  false %>

														<% for (var i =0; i < m.likeUsers.length; i++) { %> 
															<% if ( m.likeUsers[i] == logUser._id) { %>
																<% var lkdUder =  m.likeUsers[i] %>
															<% } %>																
														<% } %>								
														<% if (lkdUder) { %>
															<button class="btn btn-primary ">Watched </button>
														<% } else { %>
															<button rel="movie/<%= m._id %>/watch" class="btn btn-primary watch">add to Watch list</button>
														<% } %>
														<% var lkdUder =  false %>
													</div>
												</div>
											</li>
										<% } %>
									</ul>
								<% } %>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
		
		
		<script type="text/javascript" src= "../js/vendor/jquery-1.11.2.js" ></script>
		<script type="text/javascript" src= "../js/script.js" ></script>
	</body>
</html>
