<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ejs home</title>
	 <link href="../css/bootstrap.css" rel="stylesheet">
	 <link href="../css/main.css" rel="stylesheet">
	<style type="text/css">
	
	</style>
</head>
<body>
		<% include header %>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2><%= searchUser.name %> page</h2>
				<p><button class="edit">Edit Profile</button></p>
				<% if ( searchUser )%>
				<h2>Personal information</h2>
				<hr>
				<div class="left">
					<img src="<%= searchUser.avater %>" alt="<%= searchUser.name %>"> <br>
					<small> <%= searchUser.name %> </small>
				</div>
				<div class="right">
					<h3> <%= searchUser.name %> </h3>
					<h5> <%= searchUser.username %> </h5>
					
					<p>Age : <%= searchUser.age %> </p>
					<p>  <%= searchUser.position %> </p>
					<h3> <%= searchUser.avater %> </h3>
				</div>
				
			</div>
		</div>
	</div>
	<div id="showEdit" class="container hidden">
		<div class="row">
			<h3>Edit Profile</h3>


			<div class="col-md-12">
		
				<form method= 'post' action="/user/:id/edit">
				<p>
					 Name: <input class="ename form-control" type="text" name="name" value="<%= sessionUser.name %>"> <br>
					age: <input class="eage form-control" type="text" name="age" value="<%= sessionUser.age %>"> <br>
					position: <input class="eposition form-control" type="text" name="position" value="<%= sessionUser.position %>"> <br>
					Avater: <input class="avater form-control " type="text" name="avater" value="<%= sessionUser.avater %>"> <br>
				</p>
					<p> <button rel="user/<%= sessionUser._id %>/edit"  class="updateUser btn btn-primary btn-lg btn-block">Update Profile</button></p>
			</form>
			<button class="show_change_p btn btn-default">Change Password</button>
			<div class="cp hidden">
				Old Password: <input type="password" name="old_password" class="form-control">
				New Password: <input type="password" name="new_password" class="form-control">
				Contarm New Password: <input type="password" name="new_password2" class="form-control">
				<button class="change_password btn btn-info">Confarm Change</button>
			</div>

			<button id="deactivate" rel="user/<%= sessionUser._id %>" class="btn btn-danger right">Deactivate Account</button>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2> Movie like <%= searchUser.name %></h2>
				<hr>
				<%if (movie) { %>
						
					<ul>
						<%for(var m of movie) { %>
							<li class="liked_movie">
								<div class="movie_thumb">
									<a href="/movie/<%= m._id %>"><img src="<%= m.poster %>" alt="<%= m.title %>"></a>
								</div>								
									<div class="movie_thump_meta">
										<h5><%= m.title %></h5>
										<small><%= m.year %></small>
									</div>
							</li>
						<% } %>	
					</ul>
					<% } %>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2> Movie Watch By <%= searchUser.name %></h2>
				<hr>
				<%if (movie.viewedUser) { %>
						
					<ul>
						<%for(var m of movie.viewedUser) { %>
							<li class="liked_movie">
								<div class="movie_thumb">
									<a href="/movie/<%= m._id %>"><img src="<%= m.poster %>" alt="<%= m.title %>"></a>
								</div>								
									<div class="movie_thump_meta">
										<h5><%= m.title %></h5>
										<small><%= m.year %></small>
									</div>
							</li>
						<% } %>	
					</ul>
					<% } %>
			</div>
		</div>
	</div>
	<!-- <script type="text/javascript" src= "../lib/jquery/dist/jquery.min.js" ></script> -->
	<script type="text/javascript" src= "../js/vendor/jquery-1.11.2.js" ></script>
	<script type="text/javascript" src= "../js/script.js" ></script>
</body>
</html>