<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ejs home</title>
	<link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
		.liked_movie{
			display: inline-block;
			border: 1px solid #ccc;
			padding: 5px;
			background: #abc;
			text-transform: capitalize;
		}
	</style>
</head>
<body>
		<% include header %>
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h2>User List</h2>

					
				<% if ( user ) { %>
					<ul>
						<% for(var u of user) { %>
							<li>
								<div class="panel panel-default">
									<div class="panel-heading"><a href="/user/<%= u._id%>"><%= u.name %></a></div>
									<div class="panel-body">
									
										<p><%= u.age %></p>
										<p><%= u.username %></p>
										<a href="movie/<%= u._id %>" class="btn btn-primary details">details</a>
										
										<a href="./movie/<%= u._id %>/edit" class="btn btn-primary edit">edit</a>
										<button rel="movie/<%= u._id %>" class="btn btn-primary delete">delete</button>
										
									</div>
								</div>
							</li>
						<% } %>
					</ul>
				<% } %>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				
			</div>
		</div>
	</div>
	<script type="text/javascript" src= "../lib/jquery/dist/jquery.min.js" ></script>
	<script type="text/javascript" src= "../js/script.js" ></script>
</body>
</html>